@import "../node_modules/bootstrap/scss/bootstrap";
#search-section form {
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    height: 50px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, .13);
}

.outbox {
    height: 500px;
}

.form-control:active,
.form-control:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

h1 {
    margin-top: 100px;
    color: $primary;
    font-weight: bold;
    font-size: 50px;
}